@import url(https://fonts.googleapis.com/css?family=Inter:regular,500,600,700&display=swap);

@charset "UTF-8";

@font-face {
  font-family: SegoeUI;
  font-display: swap;
  src: url("../fonts/SegoeUI-SemiBold.woff2") format("woff2"), url("../fonts/SegoeUI-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: SegoeUI;
  font-display: swap;
  src: url("../fonts/SegoeUI-Bold.woff2") format("woff2"), url("../fonts/SegoeUI-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "icons";
  src: url("../fonts/icons.eot?fcfmch");
  src: url("../fonts/icons.eot?fcfmch#iefix") format("embedded-opentype"), url("../fonts/icons.ttf?fcfmch") format("truetype"), url("../fonts/icons.woff?fcfmch") format("woff"), url("../fonts/icons.svg?fcfmch#icons") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-copyright:before {
  content: "\e900";
}

._icon-facebook:before {
  content: "\e901";
}

._icon-instagramm:before {
  content: "\e902";
}

._icon-mail:before {
  content: "\e903";
}

._icon-phone:before {
  content: "\e904";
}

._icon-submit:before {
  content: "\e905";
}

._icon-twitter:before {
  content: "\e906";
}

._icon-youtube:before {
  content: "\e907";
}

._icon-cart:before {
  content: "\e908";
}

._icon-next:before {
  content: "\e909";
}

._icon-prev:before {
  content: "\e90a";
}

._icon-share:before {
  content: "\e90b";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #667085;
  line-height: 1;
  font-family: "Inter";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Inter";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body.lock {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.label {
  display: inline-block;
  padding: 0.75rem 1.375rem;
  font-weight: 600;
  font-size: 16px;
  line-height: 0.875;
  color: #f4b41b;
  background-color: #fff2d5;
  border-radius: 7px;
}

.title {
  font-family: "Segoe UI";
  font-weight: 700;
  font-size: 36px;
  line-height: 1.33;
  color: #3C3C3C;
}

.header {
  padding-top: 1.875rem;
  padding-bottom: 2.1875rem;
  min-height: 105px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.25rem;
}

.header__logo {
  white-space: nowrap;
  z-index: 5;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.2;
  color: #3C3C3C;
}

.header__logo span {
  color: #FCC647;
}

.header__burger {
  display: none;
}

.menu {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 5.625rem;
     -moz-column-gap: 5.625rem;
          column-gap: 5.625rem;
  row-gap: 0.3125rem;
}

.menu__link {
  position: relative;
  font-family: "Segoe UI";
  font-weight: 700;
  font-size: 20px;
  line-height: 1.35;
  color: #3C3C3C;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.menu__link:hover {
  color: #FCC647;
}

.menu__link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -5px;
  left: 0;
  color: #FCC647;
  border-bottom: 3px solid #FCC647;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease 0s;
  -o-transition: opacity 0.5s ease 0s;
  transition: opacity 0.5s ease 0s;
}

.menu__link:hover::after {
  opacity: 1;
}

.page__delivery {
  padding-top: 11.4375rem;
  padding-bottom: 6.25rem;
  background-color: #fffbf3;
}

.delivery__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.25rem;
  background: url("../img/delivery/decor.svg") 52% 55%/237px 226px no-repeat;
}

.delivery__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  -webkit-column-gap: 5.625rem;
     -moz-column-gap: 5.625rem;
          column-gap: 5.625rem;
}

.delivery__label {
  margin-top: 1.125rem;
}

.delivery__label:not(:last-child) {
  margin-bottom: 1.25rem;
}

.delivery__title {
  font-size: 48px;
}

.delivery__title:not(:last-child) {
  margin-bottom: 1.25rem;
}

.delivery__title span {
  color: #ffc12f;
}

.delivery__text {
  max-width: 500px;
  font-size: 16px;
  line-height: 2;
  color: #667085;
}

.delivery__text:not(:last-child) {
  margin-bottom: 3.75rem;
}

.delivery__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1.75rem;
     -moz-column-gap: 1.75rem;
          column-gap: 1.75rem;
}

.delivery__decor {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.delivery__image {
  display: block;
  margin-right: -8.4375rem;
  position: relative;
  padding-bottom: 75.077882%;
  /* 482/642 */
  max-width: 40.125rem;
}

.delivery__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.delivery .actions__start {
  display: inline-block;
  padding: 0.9375rem 1.25rem;
  font-weight: 500;
  font-size: 19px;
  line-height: 1.2;
  color: #ffffff;
  background-color: #ffc12f;
  -webkit-box-shadow: 0px 15px 40px rgba(249, 213, 128, 0.25);
          box-shadow: 0px 15px 40px rgba(249, 213, 128, 0.25);
  border-radius: 48px;
  -webkit-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

.delivery .actions__start:hover {
  background-color: #d39d1e;
}

.delivery .actions__start:active {
  -webkit-transform: translate(0, 1px);
      -ms-transform: translate(0, 1px);
          transform: translate(0, 1px);
}

.delivery .actions__info {
  display: inline-block;
  position: relative;
  padding: 0.625rem 1.25rem 0.4375rem 3.375rem;
  font-weight: 500;
  font-size: 17px;
  line-height: 1.88;
  color: #3C3C3C;
  background-color: transparent;
  border-radius: 48px;
}

.delivery .actions__info:hover {
  outline: 1px solid #ffc130;
}

.delivery .actions__info::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 0;
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 20px rgba(199, 199, 199, 0.25);
          box-shadow: 0px 0px 20px rgba(199, 199, 199, 0.25);
}

.delivery .actions__info::after {
  content: "";
  position: absolute;
  top: 14px;
  left: 8px;
  width: 24px;
  height: 24px;
  background: url("../img/delivery/info.svg") no-repeat;
}

.page__how {
  padding-top: 1.875rem;
  padding-bottom: 3.125rem;
}

.how__title {
  text-align: center;
  margin-bottom: 1.875rem;
}

.how__text {
  margin: 0 auto;
  max-width: 500px;
  line-height: 1.92;
  text-align: center;
  color: #667085;
}

.how__text:not(:last-child) {
  margin-bottom: 5rem;
}

.how__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 5rem;
     -moz-column-gap: 5rem;
          column-gap: 5rem;
}

.items-how__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.333%;
          flex: 1 1 33.333%;
}

.items-how__item_below {
  margin-top: 2.75rem;
}

.items-how__image {
  position: relative;
  height: 88px;
  text-align: center;
}

.items-how__image:not(:last-child) {
  margin-bottom: 2.5rem;
}

.items-how__image img {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
}

.items-how__image_blue::before {
  position: absolute;
  content: "";
  width: 88px;
  height: 88px;
  left: 50%;
  top: 0;
  margin-left: -44px;
  background-color: #335dff;
  border-radius: 50%;
}

.items-how__image_blue img {
  margin-top: -1.03125rem;
  margin-left: -1.40625rem;
}

.items-how__image_line-bottom::after {
  content: "";
  position: absolute;
  top: 55%;
  left: 78%;
  width: 13.1875rem;
  height: 43px;
  background-image: url(../img/how/line-bottom.svg);
}

.items-how__image_yellow::before {
  position: absolute;
  content: "";
  width: 88px;
  height: 88px;
  left: 50%;
  top: 0;
  margin-left: -44px;
  background-color: #f6ca00;
  border-radius: 50%;
}

.items-how__image_yellow img {
  margin-top: -0.84375rem;
  margin-left: -1.75rem;
}

.items-how__image_line-top::after {
  content: "";
  position: absolute;
  top: 0;
  left: 80%;
  width: 13.1875rem;
  height: 43px;
  background-image: url(../img/how/line-top.svg);
}

.items-how__image_green::before {
  position: absolute;
  content: "";
  width: 88px;
  height: 88px;
  left: 50%;
  top: 0;
  margin-left: -44px;
  background-color: #0bd28e;
  border-radius: 50%;
}

.items-how__image_green img {
  margin-top: -1.1875rem;
  margin-left: -1.1875rem;
}

.items-how__title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.6;
  text-align: center;
  color: #3C3C3C;
}

.items-how__title:not(:last-child) {
  margin-bottom: 1.25rem;
}

.items-how__text {
  line-height: 1.92;
  text-align: center;
  color: #667085;
}

.page__delicious {
  margin-top: 2.75rem;
  padding-bottom: calc(50px + 65 * (100vw - 320px) / 880);
}

.delicious__title {
  text-align: center;
  margin-bottom: 1rem;
}

.delicious__text {
  margin: 0 auto;
  margin-bottom: 4.8125rem;
  line-height: 1.92;
  text-align: center;
  color: #667085;
  max-width: 29.0625rem;
}

.delicious__items {
  margin-bottom: 5.5625rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
  -webkit-column-gap: 1.5625rem;
     -moz-column-gap: 1.5625rem;
          column-gap: 1.5625rem;
  row-gap: 2.8125rem;
}

.delicious__item {
  padding: 1rem 1.25rem;
  border: 1px solid rgba(112, 112, 112, 0.2);
  border-radius: 10px;
}

.delicious__item:hover {
  border: 1px solid #f9a755;
  -webkit-box-shadow: 0px 30px 30px 13px rgba(198, 198, 198, 0.25);
          box-shadow: 0px 30px 30px 13px rgba(198, 198, 198, 0.25);
  border-radius: 10px;
}

.item-delicious__image {
  margin-bottom: 0.75rem;
  text-align: center;
}

.item-delicious__image img {
  width: 8.125rem;
  height: 8.125rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.item-delicious__rating:not(:last-child) {
  margin-bottom: 0.4375rem;
}

.item-delicious__title {
  font-family: "Segoe UI";
  font-weight: 700;
  font-size: 18px;
  line-height: 1.22;
  color: #3C3C3C;
}

.item-delicious__title:not(:last-child) {
  margin-bottom: 0.8125rem;
}

.item-delicious__text {
  font-size: 12px;
  line-height: 1.66;
  color: #3C3C3C;
}

.item-delicious__text:not(:last-child) {
  margin-bottom: 1.3125rem;
}

.item-delicious__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.rating-delicious {
  position: relative;
  font-size: 14px;
  display: inline-block;
}

.rating-delicious::before {
  content: "★★★★★";
  display: block;
}

.rating-delicious__items {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  overflow: hidden;
}

.rating-delicious__item {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.rating-delicious__label {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  height: 100%;
  cursor: pointer;
  color: #667085;
}

.rating-delicious__label::before {
  content: "★";
  display: block;
  -webkit-transition: color 0.3s ease 0;
  -o-transition: color 0.3s ease 0;
  transition: color 0.3s ease 0;
}

.rating-delicious__item:checked,
.rating-delicious__item:checked ~ .rating-delicious__label {
  color: #ffd300;
}

.rating-delicious__label:hover,
.rating-delicious__label:hover ~ .rating-delicious__label,
.rating-delicious__label:checked ~ .rating-delicious__label:hover {
  color: #ffef9f;
}

.actions-item-delicious__price {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.3;
  color: #3C3C3C;
}

.actions-item-delicious__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 4.0625rem;
  height: 1.75rem;
}

.actions-item-delicious__cart {
  width: 1.75rem;
  height: 1.75rem;
  font-size: 16px;
  background-color: #f24d21;
  border-radius: 4px;
  color: #ffffff;
}

.actions-item-delicious__share {
  width: 1.75rem;
  height: 1.75rem;
  font-size: 16px;
  background-color: #3C3C3C;
  border-radius: 4px;
  color: #ffffff;
}

.pagination__items {
  margin: 0;
  padding: 0;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: calc(10px + 10 * (100vw - 320px) / 880);
     -moz-column-gap: calc(10px + 10 * (100vw - 320px) / 880);
          column-gap: calc(10px + 10 * (100vw - 320px) / 880);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pagination__item-more {
  display: none;
}

.pagination__link {
  font-weight: 700;
  font-size: 16px;
  border-radius: 50%;
  border: 1px solid #eaeced;
  width: 40px;
  height: 40px;
  padding-top: 12px;
  display: inline-block;
}

.pagination__link:hover {
  background-color: #feb918;
  color: #ffffff;
}

.pagination__link:active {
  -webkit-transform: translate(0, 1px);
      -ms-transform: translate(0, 1px);
          transform: translate(0, 1px);
}

.pagination__link_active {
  background-color: #feb918;
  color: #ffffff;
}

.pagination__link-arrow {
  font-size: 12px;
  color: #feb918;
}

.pagination__link-arrow:hover {
  background-color: #feb918;
  color: #ffffff;
}

.page__target {
  background-color: #fffbf3;
}

.target__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.body-target__image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.body-target__image img {
  max-width: 100%;
}

.body-target__description {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.description-body-target__label:not(:last-child) {
  margin-bottom: 0.8125rem;
}

.description-body-target__title:not(:last-child) {
  margin-bottom: calc(10px + 14 * (100vw - 320px) / 880);
}

.description-body-target__text {
  font-size: 16px;
  line-height: 1.875;
  color: #667085;
}

.description-body-target__text:not(:last-child) {
  margin-bottom: calc(10px + 37 * (100vw - 320px) / 880);
}

.description-body-target__text p:not(:last-child) {
  margin-bottom: calc(15px + 20 * (100vw - 320px) / 880);
}

.description-body-target__button {
  display: inline-block;
  padding: 1rem 1.1875rem;
  color: #ffffff;
  background-color: #fcc647;
  border-radius: 6px;
}

.page__download {
  padding-top: 7.25rem;
  padding-bottom: 17.9375rem;
}

.download__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.body-download__description {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.body-download__title:not(:last-child) {
  margin-bottom: 1.25rem;
}

.body-download__text {
  font-size: 16px;
  line-height: 2;
  color: #667085;
}

.body-download__text:not(:last-child) {
  margin-bottom: 3.125rem;
}

.body-download__apps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.375rem;
}

.body-download__image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.body-download__image img {
  max-width: 100%;
}

.footer {
  padding-bottom: 1.125rem;
  background-color: #232233;
  color: #ffffff;
}

.footer__container {
  position: relative;
}

.footer__container::after {
  content: "";
  position: absolute;
  left: 1.25%;
  right: 1.25%;
  bottom: 42px;
  width: 97.5%;
  height: 1px;
  background-color: #ffffff;
}

.footer__info {
  margin-top: -8rem;
  margin-bottom: 8.3125rem;
  padding: 4.0625rem 6.125rem;
  background-color: #ffffff;
  border-radius: 30px;
  -webkit-box-shadow: 0 -15px 100px rgba(57, 57, 57, 0.2);
          box-shadow: 0 -15px 100px rgba(57, 57, 57, 0.2);
}

.footer__info a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  font-size: 28px;
  line-height: 1.35;
  text-transform: lowercase;
  color: #232233;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 9.65812%;
  /* 113/1170 */
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 4.5rem;
}

.footer__copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  font-size: 16px;
  line-height: 1.5;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info-footer__wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info-footer__wrapper::after {
  content: "";
  position: absolute;
  right: calc(50% - 4px);
  width: 4px;
  height: 117%;
  /* 117/100 */
  background-color: #e6e6e6;
}

.info-footer__mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 18px;
}

.info-footer__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 18px;
}

.info-footer ._icon-mail,
.info-footer ._icon-phone {
  background-color: #feb918;
  border-radius: 50%;
  color: #ffffff;
}

.info-footer ._icon-mail {
  padding: 2.1875rem 1.9375rem;
}

.info-footer ._icon-phone {
  padding: 2.1875rem 2.1875rem;
}

.description-content-footer {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.333%;
          flex: 1 1 33.333%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.description-content-footer__logo {
  display: block;
  font-weight: 700;
  font-size: 25px;
  line-height: 1.2;
}

.description-content-footer__logo:not(:last-child) {
  margin-bottom: 1rem;
}

.description-content-footer__logo span {
  color: #fcc647;
}

.description-content-footer__text {
  width: 20.625rem;
  line-height: 1.78;
}

.description-content-footer__text:not(:last-child) {
  margin-bottom: 1.375rem;
}

.description-content-footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 60px;
  font-size: 18px;
}

.description-content-footer__item {
  position: relative;
}

.description-content-footer__item:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 0;
  width: 1px;
  height: 20px;
  background-color: #ffffff;
}

.description-content-footer__item a {
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.description-content-footer__item a:hover {
  color: #feb918;
}

.description-content-footer .description-content-footer_facebook::after {
  left: 40px;
}

.description-content-footer .description-content-footer_instagramm::after {
  left: 50px;
}

.description-content-footer .description-content-footer_twitter::after {
  left: 52px;
}

.menu-footer {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.333%;
          flex: 1 1 33.333%;
}

.menu-footer__title {
  font-family: "Segoe UI";
  font-weight: 700;
  font-size: 25px;
  line-height: 1.52;
  text-transform: uppercase;
}

.menu-footer__title:not(:last-child) {
  margin-bottom: 0.6875rem;
}

.menu-footer__item:not(:last-child) {
  margin-bottom: 0.75rem;
}

.menu-footer__link {
  font-family: "Segoe UI";
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.menu-footer__link:hover {
  color: #feb918;
}

.form-footer {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.333%;
          flex: 1 1 33.333%;
}

.form-footer__title {
  font-family: "Segoe UI";
  font-weight: 700;
  font-size: 25px;
  line-height: 1.52;
  text-transform: uppercase;
}

.form-footer__title:not(:last-child) {
  margin-bottom: 0.6875rem;
}

.form-footer__text {
  max-width: 19.6875rem;
  font-size: 16px;
  line-height: 1.5;
}

.form-footer__text:not(:last-child) {
  margin-bottom: 2.0625rem;
}

.form-footer__actions {
  position: relative;
}

.form-footer__actions input {
  padding: 0.8125rem 9.6875rem 0.8125rem 1.125rem;
  border-radius: 4px;
  outline: none;
}

.form-footer__actions input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.5;
  color: #6c6c72;
}

.form-footer__actions input::-moz-placeholder {
  font-size: 16px;
  line-height: 1.5;
  color: #6c6c72;
}

.form-footer__actions input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.5;
  color: #6c6c72;
}

.form-footer__actions input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.5;
  color: #6c6c72;
}

.form-footer__actions input::placeholder {
  font-size: 16px;
  line-height: 1.5;
  color: #6c6c72;
}

.form-footer__actions input:focus {
  outline: 2px solid #feb918;
}

.form-footer__actions button {
  position: absolute;
  top: 2px;
  right: 2px;
  padding: 0.78125rem 1rem;
  background-color: #feb918;
  border-radius: 4px;
}

@media (max-width: 75em) {
  .page__how {
    padding-bottom: calc(30px + 30 * (100vw - 320px) / 880);
  }

  .items-how__image_line-bottom::after {
    width: calc(100px + 111 * (100vw - 320px) / 880);
  }

  .items-how__image_line-top::after {
    width: calc(100px + 111 * (100vw - 320px) / 880);
  }

  .page__download {
    padding-top: calc(60px + 56 * (100vw - 320px) / 880);
    padding-bottom: calc(140px + 147 * (100vw - 320px) / 880);
  }

  .footer__info {
    margin-top: -6.25rem;
    padding: 2.8125rem 3.625rem;
  }

  .footer__info a {
    font-size: 24px;
  }

  .footer__copyright {
    font-size: calc(11px + 5 * (100vw - 320px) / 880);
    gap: 5px;
  }
}

@media (max-width: 1199px) {
  .delivery__container {
    background: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 1075px) {
  .footer__content {
    gap: 20px;
  }

  .menu-footer__title {
    text-align: center;
  }

  .menu-footer__items {
    text-align: center;
  }
}

@media (max-width: 600px) {
  .footer__info {
    margin-bottom: 5rem;
    padding: 0.625rem 1.125rem;
  }

  .footer__info a {
    font-size: 18px;
  }

  .info-footer__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 15px;
  }

  .info-footer__wrapper::after {
    display: none;
  }

  .info-footer ._icon-mail {
    padding: 0.9375rem 0.8125rem;
  }

  .info-footer ._icon-phone {
    padding: 0.9375rem 0.9375rem;
  }
}

@media (max-width: 480px) {
  .delivery .actions__info {
    display: inline-block;
    position: relative;
    padding: 0.625rem 1.25rem 0.4375rem 3.375rem;
    font-weight: 500;
    font-size: 17px;
    line-height: 1.88;
    color: #3C3C3C;
    background-color: #ffffff;
    border-radius: 48px;
  }

  .delivery .actions__info::before {
    display: none;
  }

  .delivery .actions__info::after {
    top: 13px;
  }
}

@media (max-width: 430px) {
  .how__title {
    font-size: 28px;
    margin-bottom: 0.625rem;
  }
}

@media (max-width: 61.99875em) {
  .menu__list {
    -webkit-column-gap: 1.875rem;
       -moz-column-gap: 1.875rem;
            column-gap: 1.875rem;
  }

  .page__delivery {
    padding-top: 8.75rem;
    padding-bottom: 2.5rem;
    background-color: #fffbf3;
  }

  .delivery__label {
    margin-top: 1.125rem;
  }

  .delivery__label:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .delivery__title {
    font-size: 36px;
  }

  .delivery__title:not(:last-child) {
    margin-bottom: 0.625rem;
  }

  .delivery__text {
    max-width: 500px;
    font-size: 16px;
    line-height: 2;
    color: #667085;
  }

  .delivery__text:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .delicious__text {
    margin-bottom: 3.125rem;
  }

  .delicious__items {
    margin-bottom: 3.125rem;
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
    -webkit-column-gap: calc(15px + 10 * (100vw - 320px) / 880);
       -moz-column-gap: calc(15px + 10 * (100vw - 320px) / 880);
            column-gap: calc(15px + 10 * (100vw - 320px) / 880);
    row-gap: calc(15px + 30 * (100vw - 320px) / 880);
  }

  .download__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .body-download__description {
    text-align: center;
  }

  .body-download__text {
    max-width: none;
  }

  .body-download__text:not(:last-child) {
    margin-bottom: calc(20px + 30 * (100vw - 320px) / 880);
  }

  .body-download__apps {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .footer__info {
    margin-top: -4.6875rem;
    padding: 2.1875rem 3rem;
  }

  .footer__info a {
    font-size: 20px;
  }

  .footer__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .info-footer__wrapper {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .info-footer ._icon-mail {
    padding: 1.5625rem 1.4375rem;
  }

  .info-footer ._icon-phone {
    padding: 1.5625rem 1.5625rem;
  }

  .content-footer__description {
    text-align: center;
  }

  .content-footer__menu {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }

  .content-footer__form {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 372px;
            flex: 0 1 372px;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .description-content-footer__text {
    width: auto;
  }

  .description-content-footer__social {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .menu-footer__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 15px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .form-footer__text {
    margin: 0 auto;
  }

  .form-footer__actions {
    margin: 0 auto;
    max-width: 372px;
  }
}

@media (max-width: 61.99875em) and (max-width: 61.99875em) {
  .delivery__actions {
    gap: 1.875rem;
    text-align: center;
  }
}

@media (max-width: 61.99875em) and (max-width: 830px) {
  .delivery__actions {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0.625rem;
    text-align: center;
  }
}

@media (max-width: 61.99875em) and (max-width: 47.99875em) {
  .delivery__body {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }

  .delivery__decor {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }

  .delivery__image {
    display: block;
    padding-bottom: 75.077882%;
    /* 482/642 */
    max-width: 100%;
  }

  .delivery__image img {
    -o-object-fit: unset;
       object-fit: unset;
  }

  .delivery__actions {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 1.875rem;
    text-align: center;
  }
}

@media (max-width: 61.99875em) and (max-width: 430px) {
  .delivery__title {
    font-size: 28px;
  }

  .delivery__actions {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0.625rem;
    text-align: center;
  }
}

@media (max-width: 61.99875em) and (max-width: 480px) {
  .delivery__actions {
    text-align: center;
  }
}

@media (max-width: 47.99875em) {
  .title {
    font-size: calc(28px + 8 * (100vw - 320px) / 880);
  }

  .header__burger {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.25rem;
    z-index: 5;
    cursor: pointer;
  }

  .header__burger span,
  .header__burger::before,
  .header__burger::after {
    background-color: #000000;
    position: absolute;
    width: 100%;
    height: 0.1875rem;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__burger::before,
  .header__burger::after {
    content: "";
  }

  .header__burger span {
    top: calc(50% - 0.09375rem);
  }

  .header__burger::before {
    top: 0;
  }

  .header__burger::after {
    bottom: 0;
  }

  .header__burger._active span {
    width: 0;
  }

  .header__burger._active::before {
    top: calc(50% - 0.09375rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .header__burger._active::after {
    top: calc(50% - 0.09375rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .header__menu {
    position: fixed;
    left: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 100px 15px 15px 15px;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    overflow: auto;
  }

  .header__menu._active {
    left: 0;
  }

  .header__menu::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4.375rem;
    background-color: #ffffff;
  }

  .menu__list {
    row-gap: 1.875rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .menu__link {
    font-size: 24px;
  }

  .menu__link:hover {
    color: #FCC647;
  }

  .menu__link::after {
    color: #FCC647;
    border-bottom: 3px solid #FCC647;
    opacity: 0;
    -webkit-transition: opacity 0.5s ease 0s;
    -o-transition: opacity 0.5s ease 0s;
    transition: opacity 0.5s ease 0s;
  }

  .menu__link:hover::after {
    opacity: 1;
  }

  .header {
    padding-top: 1.25rem;
    padding-bottom: 1.5625rem;
    min-height: 4.375rem;
  }

  .page__delivery {
    padding-top: 6.25rem;
    padding-bottom: 1.875rem;
    background-color: #fffbf3;
  }

  .delivery__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }

  .how__title {
    text-align: center;
    margin-bottom: 1.25rem;
  }

  .how__text {
    margin: 0 auto;
    max-width: 500px;
    line-height: 1.92;
    text-align: center;
    color: #667085;
  }

  .how__text:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .how__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 1.25rem;
  }

  .items-how__item_below {
    margin-top: 0;
  }

  .items-how__image:not(:last-child) {
    margin-bottom: 0.9375rem;
  }

  .items-how__image_line-bottom::after {
    display: none;
  }

  .items-how__image_line-top::after {
    display: none;
  }

  .items-how__title:not(:last-child) {
    margin-bottom: 0.625rem;
  }

  .delicious__text {
    margin-bottom: 1.875rem;
  }

  .delicious__items {
    margin-bottom: 2.5rem;
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }

  .page__target {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
  }

  .target__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .body-target__image img {
    max-width: 70%;
  }

  .footer__info {
    margin-bottom: 6.25rem;
    padding: 2.1875rem 1.75rem;
  }

  .footer__info a {
    font-size: 16px;
  }

  .footer__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
    margin-bottom: 3.25rem;
  }

  .info-footer__wrapper {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .content-footer__menu {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }

  .content-footer__form {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33.333%;
            flex: 0 1 33.333%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media (max-width: 29.99875em) {
  .how__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1.25rem;
  }

  .delicious__items {
    margin-bottom: 1.875rem;
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }

  .pagination__item-hide {
    display: none;
  }

  .pagination__item-more {
    display: block;
  }

  .body-target__image {
    display: none;
  }

  .form-footer__actions {
    max-width: 285px;
  }

  .form-footer__actions input {
    padding-right: 4.1875rem;
  }
}